@import "tailwindcss";
* {
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  /* overflow-x: hidden; */
    max-width: 100vw; 
}


.font-brice {
  font-family: 'Brice', sans-serif;
}

@font-face {
  font-family: 'Brice';
  src: url('./assets/font/Brice-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #2F52E0;
  --color-yellow: #FFE066;  
  --color-orange: #FF8427;
  --color-pink: #FF67B3;
  --color-lavender: #B4A0E5;
  --color-light-blue: #BDE1FF;
  --color-navy: #07004D ;
  --color-coral: #DB3A34;

  --breakpoint-xs: 25rem;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.section-sticky {
  position: sticky;
  top: 0; /* Fondo rosa */
  z-index: 10;
}

.editLinkModal {
  /* Editar scrollbar */
  scrollbar-width: thin;
  scrollbar-color: yellow transparent;
}