@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    
    --color-light: #F2F3F4;
    --color-dark: #1B1B1B;
    --color-primary: #88FA1E;
    --color-info: #279AF1;
    --color-danger: #EF233C;
    --color-warning: #F1A208;
    --color-success: #88FA1E;
}

:root {
  --font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: var(--color-dark);
  background-color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

